@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "tailwindcss";

*{
   font-family:Outfit; 
}

select,
input,
textarea {
    width: 100%;
    padding: 10px 12px;
    font-size: 15px;
    color: #374151;                 
    background-color: #F9FAFB;     
    border: 1px solid #D1D5DB;      
    border-radius: 6px;
    outline: none;
    transition: all 0.2s ease;      
}

/* Hover effect */
select:hover,
input:hover,
textarea:hover {
    border-color: #9CA3AF;         
}


select:focus,
input:focus,
textarea:focus {
    border-color: #6B7280;          
    background-color: #FFFFFF;
    box-shadow: 0 0 0 3px rgba(107, 114, 128, 0.2); 
}

/* Placeholder styling */
input::placeholder,
textarea::placeholder {
    color: #9CA3AF;                
    opacity: 1;
}


.active {
    background-color: #f3f4f6;
    border-color: #6b7280;
    border-left: 4px solid #6b7280;
    font-weight: 500;
    color: #374151;
  }
  
  